{% if content %}
  <div {{ attributes }}>
    <ul data-tabs>
      <li><a data-tabby-default href="#layout-tab1"><i class="fas fa-info-circle"></i>About</a></li>
      <li><a href="#layout-tab2"><i class="fas fa-images"></i>Photos</a></li>
      <li><a href="#layout-tab3"><i class="fas fa-tag"></i>Coupons</a></li>
      <li><a href="#layout-tab4"><i class="fas fa-comments"></i>Reviews</a></li>
      <li><a href="#layout-tab5"><i class="fas fa-hiking"></i>Gear</a></li>
    </ul>

    <div id="layout-tabs" class="utg-layout--attraction utg-layout--five-column">

      {% if content.first %}
        <div id="layout-tab1" {{ region_attributes.first.addClass('layout__region', 'layout__region--first', 'utg-layout--region', 'utg-layout--first-region') }}>
          {{ content.first }}
        </div>
      {% endif %}

      {% if content.second %}
        <div id="layout-tab2" {{ region_attributes.second.addClass('layout__region', 'layout__region--second', 'utg-layout--region', 'utg-layout--second-region') }}>
          {{ content.second }}
        </div>
      {% endif %}

      {% if content.third %}
        <div id="layout-tab3" {{ region_attributes.third.addClass('layout__region', 'layout__region--third', 'utg-layout--region', 'utg-layout--third-region') }}>
          {{ content.third }}
        </div>
      {% endif %}

      {% if content.fourth %}
        <div id="layout-tab4" {{ region_attributes.fourth.addClass('layout__region', 'layout__region--fourth', 'utg-layout--region', 'utg-layout--fourth-region') }}>
          {{ content.fourth }}
        </div>
      {% endif %}

      {% if content.fifth %}
        <div id="layout-tab5" {{ region_attributes.fifth.addClass('layout__region', 'layout__region--fifth', 'utg-layout--region', 'utg-layout--fifth-region') }}>
          {{ content.fifth }}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}